@page
@model MusicVolumeModel
@{
    ViewData["Title"] = "Music volume measurements";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Use this page to display music volume measurements</p>

    <div>
        <h2>All measurements</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Sensor ID</th>
                <th>Date</th>
                <th>Music volume [dB]</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var measurement in Model.Measurements.OrderByDescending(x => x.MeasuredAt))
            {
                <tr>
                    <td>@measurement.SensorId</td>
                    <td>@measurement.MeasuredAt</td>
                    <td>@measurement.MusicVolume</td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    <form method="post">
        <div class="form-group">
            <label for="datetime1">Start date time:</label>
            <input type="datetime-local" class="form-control" id="datetime1" name="startDateTime">

            <label for="datetime2">End date time:</label>
            <input type="datetime-local" class="form-control" id="datetime2" name="endDateTime">

            <button class="btn btn-primary" asp-page-handler="DownloadJson">Download JSON</button>
            <button class="btn btn-primary" asp-page-handler="DownloadCsv">Download CSV</button>
        </div>
    </form>

    <div>
        <div id="musicVolumeChart">
        </div>
    </div>
</div>

<script src='https://cdn.plot.ly/plotly-2.16.1.min.js'></script>
<script>
    let traces = [];
    for (const group of @Html.Raw(Json.Serialize(@Model.GetValues()))) {
        let trace = {
            x: group.xLabels,
            y: group.yValues,
            type: 'lines+markers',
            name: group.label
        };
        traces.push(trace);
    }
    var layout = {
      title:'Music volume measurements from music volume sensors'
    };
    Plotly.newPlot('musicVolumeChart', traces, layout);
</script>
