@page
@model PeopleCounterModel
@{
    ViewData["Title"] = "People counter";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Use this page to display people counters</p>

    <div>
        <h2>All measurements</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Sensor ID</th>
                <th>Date</th>
                <th>Number of people</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var measurement in Model.Measurements.OrderByDescending(x => x.MeasuredAt))
            {
                <tr>
                    <td>@measurement.SensorId</td>
                    <td>@measurement.MeasuredAt</td>
                    <td>@measurement.NumberOfPeople</td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    <form method="post">
        <button class="form-control btn btn-primary" asp-page-handler="DownloadJson">Download JSON</button>
        <button class="form-control btn btn-primary" asp-page-handler="DownloadCsv">Download CSV</button>
    </form>

    <div>
        <div id="peopleCounterChart">
        </div>
    </div>
</div>

<script src='https://cdn.plot.ly/plotly-2.16.1.min.js'></script>
<script>
    let traces = [];
    for (const group of @Html.Raw(Json.Serialize(@Model.GetValues()))) {
        let trace = {
            x: group.xLabels,
            y: group.yValues,
            type: 'lines+markers',
            name: group.label
        };
        traces.push(trace);
    }
    var layout = {
      title:'People counter measurements from people counter sensors'
    };
    Plotly.newPlot('peopleCounterChart', traces, layout);
</script>